<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>feed2</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>
<form method="POST" th:action='@{/share}'>
    what's on your mind ? <textarea name="content"></textarea>
    <input type="submit" value="Share"/>
</form>


<div th:each="post :${posts}">
    <p th:text="${post.getContent()}"></p>
</div>
</body>
</html>